
#firstBox{
   background-color: aqua;
    height: 200px;
    width: 200px;
}
table, th, td {
    border: 1px solid blue;
  }
  #here{
    color: rgb(0, 0, 66);
  }

  #gen{
    color: rebeccapurple
  }
  #submit{
    color: blue;
    font-size: medium;
  }
  body{
    background-color: bisque;
  }